build
dist
bin
obj
*.suo
*.user
_ReSharper.*
Makefile-.*.mk
/Installer/*.exe
licenses.licx
/packages/*
*.cof
*.lst
*.map
*.obj
*.rlf
*.sdb
*.sym
.nuget
Makefile-genesis.properties
/ninhid.X/Thumbs.db
Thumbs.db
/ninhid.X/nbproject/*.mk
/ninhid.X/disassembly/listing.disasm
/ninhid.X/nbproject/private/SuppressibleMessageMemo.properties
/ninhid.X/funclist
/ninhid.X/nbproject/Package-release.bash
