bin
obj
*.suo
*.user
_ReSharper.*
Makefile-.*.mk
/Installer/*.exe
licenses.licx
/packages/*
*.cof
*.lst
*.map
*.obj
*.rlf
*.sdb
*.sym
.nuget
Makefile-genesis.properties
Thumbs.db

# mplab projects
dist
build
Makefile-*
Package-*
private
funclist
disassembly
.vs
VisualGDB
/datasheets
/firmware/MUSIA/Inc
/firmware/MUSIA/Src
/MUNIA-win/Installer/old installers
