build
dist
bin
obj
*.suo
*.user
_ReSharper.*
Makefile-.*.mk
/Installer/*.exe
licenses.licx
/packages/*
*.cof
*.lst
*.map
*.obj
*.rlf
*.sdb
*.sym
.nuget
Makefile-genesis.properties
/ninhid.X/Thumbs.db
