{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}MUNIA.io{% endblock %}</title>
	<meta charset="utf-8"/>
	<meta name="description" content="Webpage for the MUNIA series of devices allowing gamepad display on your pc."/>
	<meta name="viewport" content="width=device-width"/>

	<link rel="apple-touch-icon-precomposed" href="{% static "img/favicon.ico" %}"/>
	<link rel="icon" href="{% static "img/favicon.ico" %}"/>
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>

	{% block stylesheets %}
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'>
	<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type='text/css' href="{% static "css/main.css" %}"/>
	{% endblock %}
	{% block extrastylesheets %} {% endblock %}
</head>
<body class="page page-home preload">
{% block header %}    {% include "header.html" %} {% endblock %}
{% block content %} {% endblock %}
{% block footer %}    {% include "footer.html" %} {% endblock %}
{% block scripts %}
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
{% endblock %}
{% block extrascripts %} {% endblock %}
</body>
</html>