{% load staticfiles %}
<footer class="footer-3 bg--white text-center-xs">
    <div class="col-sm-3">
        <img alt="logo" class="logo" src="{% static "img/logo-dark.png" %}">
        <span>+31 6 1392 1576</span>
        <a href="#" class="type--underline">
            contact@munia.io
        </a>
    </div>
    <div class="col-sm-6 text-center">
        <ul class="footer__navigation">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="col-sm-3 text-right text-center-xs">
        <ul class="social-list">
            <li><a href="#"><i class="socicon-twitter"></i></a></li>
            <li><a href="#"><i class="socicon-mail"></i></a></li>
        </ul>
        <span class="type--fine-print">© Copyright
            <span class="update-year">2017</span> MUNIA.io all rights reserved</span>
    </div>
</footer>