{% load static %}
<header class="header-main dark">
	<nav>
		<a href="index.html" class="logo" rel="home">
			<img src="{% static "img/favicon.ico" %}"/>
			<span>MUNIA.io</span></a>
		<div class="nav-toggle"></div>
		<ul class="inline">
			<li><a href="index.html">Home</a></li>
			<li><a href="devices.html">Devices</a></li>
			<li><a href="software.html">Software</a></li>
			<li><a href="faq.html">FAQ</a></li>
		</ul>
		<ul class="inline right">
			<li><a href="#connect">Contact</a></li>
		</ul>
	</nav>
</header>