{% load staticfiles %}

<nav class="transition--fade">
    <div class="nav-bar" data-fixed-at="700">
        <div class="nav-module logo-module left">
            <a href="index.html"><img alt="logo" class="logo logo-dark"  src="{% static "img/logo-dark.png"  %}">   </a>
        </div>
        <div class="nav-module menu-module left">
            <ul class="menu">
                <li><a href="/adapters">Gamepad adapters</a>
                    <ul>
                        <li><a href="/adapters/overview">Overview</a></li>
                        <li class="dropdown">
                            <a href="/adapters/munia">MUNIA</a>
                            <ul>
                                <li><a href="/adapters/munia/features">Features</a></li>
                                <li><a href="/adapters/munia/pricing">Pricing</a></li>
                                <li><a href="/adapters/munia/tech">Technical info</a></li>
                                <li><a href="/adapters/munia/downloads">Downloads</a></li>
                            </ul>
                        </li>
                        <li><a href="/adapters/upcoming">Upcoming devices</a></li>
                    </ul>
                </li>

                <li><a href="/consoles">Console mods</a>
                    <ul>
                        <li><a href="/consoles/overview">Overview</a></li>
                        <li class="dropdown"><a href="/consoles/overview">SNES</a>
                            <ul>
                                <li><a href="/consoles/snes#cic">SuperCIC / region-free</a></li>
                                <li><a href="/consoles/snes#rgb">RGB amplifier</a></li>
                                <li><a href="/consoles/snes#recap">Capacitor replacement</a></li>
                            </ul>
                        </li>
                        <li><a href="/consoles/overview">N64</a></li>
                        <li><a href="/consoles/overview">NGC</a></li>
                        <li><a href="/consoles/overview">X-Box</a></li>
                        <li><a href="/consoles/overview">X-Box 360</a></li>
                        <li><a href="/consoles/overview">PS2</a></li>
                        <li><a href="/consoles/overview">PS3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--end nav module-->
        <div class="nav-module right">
            <a href="#" class="nav-function" data-notification-link="cart-overview">
                <i class="interface-bag icon icon--sm"></i>
                <span>Cart</span>
            </a>
        </div>
    </div>
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-Right icon icon--sm"></i>
    </div>
</nav>