{% extends 'base.html' %}

{% load recaptcha3 %}
{% block extrascripts %}
	{% recaptcha_init %}
	{% recaptcha_ready action_name='contact' %}
{% endblock %}

{% block content %}
	<main>
		<section class="bg-image-hero center-tablet dark overlay-shape-03 full-screen">
			<div class="-margin-bottom padding padding-top-tablet ">

				<div class="col-one-half middle padding">
					<div class="max-width-m bg-gradient-consoles padding rounded">
						<h5>MUNIA.io contact form</h5>
						<form action="contact.html" method="post" target="_top">
							{% csrf_token %}
							{{ form }}
							<button class="button button-primary full-width space-top" role="button" name="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>

		</section>
	</main>

{% endblock %}