{%  extends 'base.html' %}

{% block content %}

<section><div class="container">
    <div class="row">
        <div class="col-sm-12"><div class="elements--title"><h4>Input adapters</h4></div></div>
        <div class="col-md-4 col-sm-6">
            <div class="card card-1">
                <div class="card__image"><img alt="Pic" src="img/small2.jpg"></div>
                <div class="card__body boxed bg--white">
                    <div class="card__title"><h5>Capture videogame inputs</h5></div>
                    <span><em>Show your inputs on screen or stream!</em></span>
                    <p>Videogame input adapters can capture gamepad inputs and allow to them to be used for
                    purposes such as playing in emulators, displaying them on your screen, capturing them
                    for display on twitch, making video tutorials, or even mapping them to be used on
                    unrelated videogame consoles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card card-1">
                <div class="card__image"><img alt="Pic" src="img/small1.jpg"></div>
                <div class="card__body boxed bg--white">
                    <div class="card__title"><h5>Console modifications</h5></div>
                    <span><em>Get the most out of your consoles</em></span>
                    <p>Most older and some recent consoles can be modified to expand their capacbilities.
                    Mods can have purposes ranging from gaining the ability to run homebrew applications
                    to improving the video output quality or adding new output methods entirely.</p>
                </div>
            </div>
        </div>
    </div>
</div></section>

{% endblock %}