{% extends 'home/base.html' %}

{% block content %}
	{% load static %}
	<main>
		<section class="bg-image-hero center-tablet dark overlay-shape-03">
			<div class=" -margin-bottom padding padding-top-tablet">
				<div class="row max-width-l">
					<div class="col-one-half middle">
						<div>
							<h1 class="hero">MUNIA</h1>
							<p class="lead">Devices for capturing gamepad inputs for displaying on screen or stream.
							</p>
							<p>All designs, firmware and software are open source.</p>
							<a href="http://github.com/zzattack/munia" class="button button-primary space-top" role="button">Github project</a>
							<a href="/devices.html" class="button button-primary space" role="button">Buy a device</a>
						</div>
					</div>
					<div class="col-one-half middle">
						<img src="{% static "img/content/code-illustration.png" %}" alt="Source code illustration">
					</div>
				</div>
			</div>

			<div class="padding"></div>

			<div class="row margin-top max-width-l">
				<div class="col-one-half">
					<img class="rounded shadow-l" src="{% static "img/content/device.png" %}" alt="MUSIA device">
				</div>
				<div class="col-one-half middle">
					<h3>Plug-and-play hardware</h3>
					<p class="paragraph">All devices come with plug and play cables, so there's no need to splice
						existing cables.
						The USB device does not require custom drivers and all controllers can be used as input display
						or as controller adapter. </p>
				</div>
			</div>

			<div class="row margin-top max-width-l reverse-order">
				<div class="col-one-half middle">
					<h3>Fully customizable software</h3>
					<p class="paragraph">The feature-packed accompanying software is heavily focused on performance and
						image quality.
						Using OpenGL rendering and scalable vector graphics, your skins couldn't look any better.</p>
				</div>
				<div class="col-one-half">
					<img class="rounded shadow-l" src="{% static "img/content/munia.png" %}" alt="Software screenshot">
				</div>
			</div>

			<div class="row margin-top max-width-l">
				<div class="col-one-half">
					<img class="rounded shadow-l" src="{% static "img/content/opensource.png" %}" alt="Editor">
				</div>
				<div class="col-one-half middle">
					<h3>Open source designs</h3>
					<p class="paragraph">All schematics, designs, firmware and software are available
						on <a href="http://github.com/zzattack/munia">Github</a>.
						It is entirely possible to build your own devices, alter functionality and the permissive MIT
						license even allows reuse. </p>
				</div>
			</div>
		</section>


		<section class="bg-gradient-consoles -margin-bottom-2 overlay padding">
			<div class="center dark max-width-l">
				<h2>MUNIA input adapters are available for several retrogaming consoles.</h2>
				<p class="paragraph">At present, adapters for the Super Nintendo, Nintendo 64, Gamecube and most
					recently for the Sony Playstation 2 are available.
					Expect to see adapters for other consoles in the future!</p>

				<a href="/devices.html"><img class="rounded shadow-l margin-top" src="{% static "img/content/consoles.png" %}" alt="Supported consoles"></a>
			</div>
			<div class="padding"/>
		</section>

	</main>

{% endblock %}
