{% extends "home/base.html" %}
{% load static %}

{% block content %}
	<main>

		<section class="bg-image-hero center-tablet dark overlay-shape-03">
			<div class="padding"></div>

			<div class=" -margin-bottom padding padding-top-tablet">
				<div class="row max-width-l">
					<div class="col-one-half middle">
						Your payment was successfully received and we will contact you regarding status updates within 48h.
					</div>
				</div>
			</div>

			<div class="padding"></div>

		</section>
	</main>
{% endblock %}